@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background: #181818;
}

#topbar{
  z-index: 1;
  position: fixed;
  background: rgba(32, 32, 32, 0.97);
  width: 100vw;
  height: 57px;
}

#youtubeIcon{
  position: absolute;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  top: -59px;
  left: -50px;
  cursor: pointer;
}

#hamburger{
  position: absolute;
  color: #f9f9f9;
  left: 30px;
  top: 18px;
  -webkit-transform: scaleX(1.25) scaleY(1.15);
          transform: scaleX(1.25) scaleY(1.15);
  cursor: pointer;
}

#searchbarContainer{
  position: relative;
  top: 22%;
  left: 31.8vw;
}

#searchbarInput{
  position: relative;
  height: 2.15rem;
  width: 30vw;
  font-size: 16px;
  color: #e2e2e2;
  background: #121212;
  border: 1px solid #313131;
  padding-left: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#searchbarInput:focus{
  outline : none;
  border-color : rgb(36, 104, 194);
}

#searchbutton{
  position: relative;
  bottom: 0.5px;
  background: #313131;
  color: #6f6f6f;
  border: 1px solid #313131;
  height: 2.02rem;
  width: 60px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

#searchbutton:hover{
  color: #aaaa;
}
